[Unit]
Description=earlybird (/opt/earlybird) - Server Application: http://<hostname>
After=network.target

[Service]
Type=forking
User=root
ExecStart=/usr/bin/earlybird server
StandardOutput=file:/var/log/earlybird/webclient.log
StandardError=file:/var/log/earlybird/webclient.log
WorkingDirectory=/opt/earlybird

[Install]
WantedBy=multi-user.target
