[Unit]
Description=earlybird (/opt/earlybird) - Server Application: http://<hostname>
After=network.target

[Service]
Type=simple

ExecStart=/usr/bin/earlybird server

StandardOutput=append:/var/log/earlybird/webclient.log
StandardError=append:/var/log/earlybird/webclient.log

WorkingDirectory=/opt/earlybird

[Install]
WantedBy=multi-user.target
