[Unit]
Description=earlybird (/opt/earlybird) - Auto Wakeup - Web-Application: http://<hostname>
After=network.target
 
[Service]
Type=simple

ExecStart=/usr/bin/earlybird wakeup

StandardOutput=file:/var/log/earlybird/wakeup.log
StandardError=file:/var/log/earlybird/wakeup.log

WorkingDirectory=/opt/earlybird
 
[Install]
WantedBy=multi-user.target
